[{:open "117.05",
  :timeZone "EST",
  :change_pct "0.37",
  :streamable "1",
  :issue_id "36276",
  :mappedSymbol {:xsi:nil "true"},
  :providerSymbol {:xsi:nil "true"},
  :cachedTime "Wed Dec 02 11:48:10 EST 2015",
  :symbol "AAPL",
  :name "Apple Inc",
  :comments "Composite",
  :reg_last_time "2015-12-02T11:48:09.373-0500",
  :source "NASDAQ Real-Time Last Sale",
  :cacheServed "false",
  :assetType "STOCK",
  :realTime "true",
  :todays_closing "117.78",
  :volume "12228094",
  :high "118.11",
  :last_time_msec "1449074889373",
  :shortName "AAPL",
  :assetSubType "Common Stock",
  :ExtendedMktQuote
  {:timeZone "EST",
   :change_pct "-0.2471",
   :type "PRE_MKT",
   :source "NASDAQ Real-Time Last Sale",
   :volume "143861",
   :last_time_msec "1449066600399",
   :last_time "2015-12-02T09:30:00.399-0500",
   :change "-0.29",
   :exchange "NASDAQ",
   :last "117.05",
   :fullchange "-0.29",
   :fullchange_pct "-0.2471"},
  :issuer_id "8016",
  :last_time "2015-12-02T11:48:09.373-0500",
  :code "0",
  :responseTime "Wed Dec 02 11:48:10 EST 2015",
  :low "117.00",
  :currencyCode "USD",
  :symbolType "symbol",
  :change "0.44",
  :exchange "NASDAQ",
  :previous_day_closing "117.34",
  :last "117.78",
  :provider "CNBC QUOTE CACHE",
  :quoteDesc {},
  :altSymbol "AAPL.O",
  :countryCode "US",
  :curmktstatus "REG_MKT",
  :FundamentalData
  {:MPreviousClose "118.30000",
   :PDYTDPCHG "7.18000",
   :yragopricechange "-1.1500015",
   :revenuettm "233715000000",
   :yrhidate "2015-04-28",
   :GROSMGNTTM "40.05990",
   :pe "12.806488",
   :beta "0.84063",
   :yrloprice "92.0",
   :yrlodate "2015-08-24",
   :TTMEBITD "82487.00000",
   :revenuettmView "233715.0M",
   :pcttendayvol "0.3686",
   :ROETTM "46.24819",
   :dividend "2.08",
   :yragoprice "118.93000",
   :NETPROFTTM "22.84577",
   :mktcapView "656662.48M",
   :tendayavgvol "33562768.00",
   :yrhiprice "134.54",
   :sharesout "5575331000",
   :dividendyield "0.017660044",
   :sharesoutView "5575.33M",
   :mktcap "656662478374.176025390625",
   :eps "9.1969"}}
 {:open "125.53",
  :timeZone "EST",
  :change_pct "3.87",
  :streamable "1",
  :issue_id "211573",
  :mappedSymbol {:xsi:nil "true"},
  :providerSymbol {:xsi:nil "true"},
  :cachedTime "Wed Dec 02 11:48:10 EST 2015",
  :symbol "NFLX",
  :name "Netflix Inc",
  :comments "Composite",
  :reg_last_time "2015-12-02T11:48:09.946-0500",
  :source "NYSE ARCA Real-Time Stock Prices",
  :cacheServed "false",
  :assetType "STOCK",
  :realTime "true",
  :todays_closing "130.22",
  :volume "13855394",
  :high "131.35",
  :last_time_msec "1449074889946",
  :shortName "NFLX",
  :assetSubType "Common Stock",
  :ExtendedMktQuote
  {:timeZone "EST",
   :change_pct "0.1037",
   :type "PRE_MKT",
   :source "NYSE ARCA Real-Time Stock Prices",
   :volume "30466",
   :last_time_msec "1449066599201",
   :last_time "2015-12-02T09:29:59.201-0500",
   :change "0.13",
   :exchange "NASDAQ",
   :last "125.50",
   :fullchange "0.13",
   :fullchange_pct "0.1037"},
  :issuer_id "26444",
  :last_time "2015-12-02T11:48:09.946-0500",
  :code "0",
  :responseTime "Wed Dec 02 11:48:10 EST 2015",
  :low "124.93",
  :currencyCode "USD",
  :symbolType "symbol",
  :change "4.85",
  :exchange "NASDAQ",
  :previous_day_closing "125.36",
  :last "130.22",
  :provider "CNBC QUOTE CACHE",
  :quoteDesc {},
  :altSymbol "NFLX.O",
  :countryCode "US",
  :curmktstatus "REG_MKT",
  :FundamentalData
  {:MPreviousClose "123.33000",
   :PDYTDPCHG "152.72000",
   :yragopricechange "80.70719",
   :revenuettm "6440906000",
   :yrhidate "2015-12-02T11:48:09.946-0500",
   :GROSMGNTTM "32.36288",
   :pe "347.25333",
   :beta "1.31311",
   :yrloprice "45.0772",
   :yrlodate "2014-12-17",
   :TTMEBITD "3626.72400",
   :revenuettmView "6440.91M",
   :pcttendayvol "0.8086",
   :ROETTM "8.36721",
   :yragoprice "49.51281",
   :NETPROFTTM "2.52812",
   :mktcapView "55654.51M",
   :tendayavgvol "17173328.00",
   :yrhiprice "131.35",
   :sharesout "427388300",
   :sharesoutView "427.39M",
   :mktcap "55654504947.7142333984375",
   :yragopricechangepct "163.00264",
   :eps "0.375"}}
 {:open "210.615",
  :timeZone "EST",
  :change_pct "-0.3038",
  :streamable "1",
  :issue_id "258981",
  :mappedSymbol {:xsi:nil "true"},
  :providerSymbol {:xsi:nil "true"},
  :cachedTime "Wed Dec 02 11:48:10 EST 2015",
  :symbol "SPY",
  :name "SPDR S&P 500 ETF Trust",
  :comments "Composite",
  :reg_last_time "2015-12-02T11:48:10.352-0500",
  :source "NASDAQ Real-Time Last Sale",
  :cacheServed "false",
  :assetType "STOCK",
  :realTime "true",
  :todays_closing "210.0399",
  :volume "29580554",
  :high "211.00",
  :last_time_msec "1449074890352",
  :shortName "SPY",
  :assetSubType "Exchange Traded Fund",
  :ExtendedMktQuote
  {:timeZone "EST",
   :change_pct "-0.019",
   :type "PRE_MKT",
   :source "NASDAQ Real-Time Last Sale",
   :volume "1149571",
   :last_time_msec "1449066600341",
   :last_time "2015-12-02T09:30:00.341-0500",
   :change "-0.04",
   :exchange "NYSE Arca",
   :last "210.64",
   :fullchange "-0.04",
   :fullchange_pct "-0.019"},
  :issuer_id "32818",
  :last_time "2015-12-02T11:48:10.352-0500",
  :code "0",
  :responseTime "Wed Dec 02 11:48:10 EST 2015",
  :low "209.98",
  :currencyCode "USD",
  :symbolType "symbol",
  :change "-0.6401",
  :exchange "NYSE Arca",
  :previous_day_closing "210.68",
  :last "210.0399",
  :provider "CNBC QUOTE CACHE",
  :quoteDesc {},
  :altSymbol "SPY",
  :countryCode "US",
  :curmktstatus "REG_MKT",
  :FundamentalData
  {:MPreviousClose "208.69000",
   :PDYTDPCHG "1.53000",
   :yragopricechange "2.8399048",
   :revenuettm "3686276000",
   :yrhidate "2015-05-20",
   :GROSMGNTTM "98.52563",
   :pe "10.283623",
   :beta "1.00776",
   :yrloprice "182.4",
   :yrlodate "2015-08-24",
   :TTMEBITD "3516.80500",
   :revenuettmView "3686.28M",
   :pcttendayvol "0.3459",
   :ROETTM "11.19041",
   :dividend "4.1292",
   :yragoprice "207.20000",
   :NETPROFTTM "517.61280",
   :mktcapView "180819.59M",
   :tendayavgvol "88848280.00",
   :yrhiprice "213.78",
   :sharesout "860882100",
   :dividendyield "0.019659122",
   :sharesoutView "860.88M",
   :mktcap "180819591688.04168701171875",
   :yragopricechangepct "1.3706105", 
   :eps "20.4247"}}]